body {
    background-color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
}

.nav-bar_category {
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    width: 1438px;
    height: 769px;
    background-image: url("media/img/wallpaperbetter.jpg");
}

.nav-bar_category img {
    float: left;
}

.nav-bar_category .links {
    color: #060606;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 190px;
    padding-top: 35px;
}

.nav-bar_category a:hover {
    color: #207178;
}

.container {
    width: 100%;
    height: 1000px;
    border: 2px solid black;
}

.footer {
    width: 100%;
    height: 200px;
    border: 2px solid black;
}