body{
    background-color: rgb(255, 255, 255);
}
img {
    width: 80px;
    height: 68px;
    float: left;
}
a {
    text-decoration: none;
    color: black;
}
form {
    text-align: right;
    margin: -42px 42px 20px 20px;
}

h1 {
    text-align: center;
}
#top_bar{
    border: 2px solid black;
    text-align: center;
<<<<<<< HEAD
    background-color: rgb(48, 169, 220);
=======
    background-color: rgb(148, 20, 187);
>>>>>>> d45c118a712e990282f6b3f01257a936d2113686
}

.title {
    text-align: center;
    font-size: 60px;
<<<<<<< HEAD
=======
    text-shadow: 5px 5px 3px rgb(129, 0, 119);
>>>>>>> d45c118a712e990282f6b3f01257a936d2113686
    margin-right: 0px;
    padding-right: 450px;
}
.menu {
    list-style-type: none;
    border-left: 1px solid rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: left;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
