body {
    background-color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
}

.nav-bar_picture {
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    height: 750px;
    background-image: url("media/img/mainfinal.png");
}

.nav-bar_picture img {
    float: left;
}

.nav_bar .links {
    color: #060606;
    text-align: center;
    margin-left: 70px;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    width: 190px;
    padding-top: 60px;
    
}

.nav_bar a:hover {
    color: #097000;
    font-family:'Times New Roman', Times, serif;
}

.nav_bar {
    width: 100%;
    height: 150px;
    border: 2px solid black;background-color:hsl(185, 58%, 40%);
}

.container {
    width: 100%;
    height: 1000px;
    border: 2px solid black;
    background-color: hsl(185, 58%, 40%);
}

.container .container_img-text .collective{
    width: 500px;
    height: 400px;
    float: left;
    padding-left: 50px;
    padding-top: 40px;
}

.container .container_img-text p {
    text-align: center;
    padding-top: 180px;
    
    
}

.container .container_img-text a {
    font-size: 30px;
    text-decoration: none;
}

.footer {
    width: 100%;
    height: 200px;
    border: 2px solid black;
}
