body{
    background-color: rgb(255, 255, 255);
}
img {
    width: 80px;
    height: 68px;
    float: left;
}
a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}
#nav_bar{
    border: 2px solid rgb(55, 52, 52);
    text-align: center;
    background-image: url("media/img/new.png");
    background-size: cover;
    width: 1500px;
    height: 200px;
}

.menu1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    font-size: 21px;
}

.menu2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:justify;
    font-size: 21px;
}

.container{
    width: 100%;
    height: 1000px;
    border: 2px solid black;
    
}

.footer{
    width: 100%;
    height: 200px;
    border: 2px solid black;
}